*, *::after, *::before {
    box-sizing: border-box;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 8px solid #FF872F;
    
    z-index: 10;
    background-color: white;
    max-width: 80%;
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
    display:  flex;
    padding: 10px 15px;
    display: flex;
    position: relative;
    align-items: flex-start;
    gap: 30px;
    align-items: center;

  }
  
  .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .modal-body {
    padding: 10px 15px;
    font-family: 'Kavoon';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    /* identical to box height */
    text-align: justify;
    color: black;
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }

  .textocima{
    font-family: 'Kavoon';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    /* identical to box height */
    color: #EF7E2A;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .textocima h4{
    font-family: 'Kavoon';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    /* identical to box height */    
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: left;

  }

  .animalmodal{
    width: 200px;
    height: 200px;
  }