*{
   margin:  0;
   padding: 0; 
}
.modal-open{
    padding:  8px 16px;
    background: royalblue;
    color: white;
    border-radius: 4px;
    outline: none;
    border: none;
     
}


.modal{
    display: none;    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 2;
    animation: modal-open .5s;
}

.modal-content{
    background: white;
    margin-top: 100px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 24px;
    border-radius: 4px;
    z-index: 4;
}

.modal-header{
    font-weight: 500;
    padding: 10px;
    font-size: 26px;
}

.modal-header .modal-close{
    float: right;
    font-size: 20px ;
    background: #efefef;
    border: 0;
    outline: 0;
    padding: 5px 8px;
    border-radius: 50%;
} 


.modal-body{
    color: #7b7b7b;
    padding: 15px 0;
}



@keyframes modal-open{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }

}